{% extends "base.html" %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h2>Log in</h2>
<div class="form-container">
    <form method="post">
        {% csrf_token %}
        {% include '_form_errors.html' %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
</div>

<div>
    <br>
    Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
</div>
<br>
{% endblock %}
