{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Budget Tracker{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'tracker/css/style.css' %}" type="text/css">
</head>
<body data-viewing-month="{{ viewing_month }}" data-viewing-year="{{ viewing_year }}">
    <header class="site-header">
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}" novalidate>
            {% csrf_token %}
            <button type="submit" class="logout-button">Logout</button>
        </form>
        {% endif %}
        <h1>{% block header %}Budget Tracker {% endblock header %}</h1>
    </header>
    {% for message in messages %}
        <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
    {% block content %}
    {% endblock content %}

    <footer class="site-footer">
        <p>&copy; {% now "Y" %} Budget Tracker. All rights reserved.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2"></script>
    <script src="{% static 'tracker/js/init-chart.js' %}"></script>
    <script src="{% static 'tracker/js/financial-overview-chart.js' %}"></script>
    <script src="{% static 'tracker/js/alerts.js' %}"></script>
    <script src="{% static 'tracker/js/disable-validation.js' %}"></script>
</body>
</html>
