{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add {{ type }} Category</title>
    <link rel="stylesheet" href="{% static 'tracker/css/style.css' %}" type="text/css">
</head>
<body>
    <h1>Add New {{ type }} Category</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div>
                {{ field.label_tag }} {{ field }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div style="color: red;">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>    
    {% if type == "Expense" %}
        <a href="{% url 'expense_list' %}">Back to Expenses</a>
        <br>
    {% else %}
        <a href="{% url 'income_list' %}">Back to Incomes</a>
        <br>
    {% endif %}
     <a href="{% url 'home' %}">Return Home</a>
</body>
</html>
