{% extends "base.html" %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Expense</title>
    <link rel="stylesheet" href="{% static 'tracker/css/style.css' %}" type="text/css">
</head>
<body>
    <h1>Add New Expense</h1>
    <form method="post" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="error"> <!-- Apply the .error class for non-field errors -->
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        {% for field in form %}
            <div>
                {{ field.label_tag }} {{ field }}
                {% if field.errors %}
                    <div class="error"> <!-- Apply the .error class for field-specific errors -->
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>   
    <a href="{% url 'expense_list' %}">Expenses List</a> 
    <br>
    <a href="{% url 'home' %}">Return Home</a>
</body>
</html>
{% block extra_js %}
    <script src="{% static 'tracker/js/dynamic_forms.js' %}"></script>
{% endblock %}
{% endblock %} 
