{% extends "base.html" %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Income</title>
    <link rel="stylesheet" href="{% static 'tracker/css/style.css' %}" type="text/css">
</head>
<body>
    <h1>Add New Income</h1>
    <form method="post" novalidate>
        {% csrf_token %}
        {% include '_form_errors.html' %}
        <button type="submit">Submit</button>
    </form>    
    <a href="{% url 'income_list' %}">Incomes List</a> 
    <br>
    <a href="{% url 'home' %}">Return Home</a>
</body>
</html>
{% endblock %}
