{% extends "tracker/home.html" %}

{% block content %}
    <h2>Expense Categories</h2>
    <ul>
        {% for category in categories %}
            <li>
                {{ category.name }}
                <a href="{% url 'edit_expense_category' category.id %}" class="list-action-button">Edit</a>
                <a href="{% url 'delete_expense_category' category.id %}" class="list-action-button">Delete</a>
            </li>
        {% empty %}
            <li>No expense categories found.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Return Home</a>
{% endblock %}
