{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Expenses List</title>
    <link rel="stylesheet" href="{% static 'tracker/css/style.css' %}" type="text/css">
</head>
<body>
    <h1>Expenses</h1>
    <ul>
        {% for expense in expenses %}
        <li>
            {{ expense.date }}: {{ expense.description }} - ${{ expense.amount }}
            <a href="{% url 'edit_expense' expense.id %}" class="list-action-button">Edit</a>
            <a href="{% url 'delete_expense' expense.id %}" class="list-action-button">Delete</a>
        </li>
        {% empty %}
            <li>No expenses found.</li>
        {% endfor %}
    </ul>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <a href="{% url 'home' %}">Return Home</a>
    <script src="{% static 'tracker/js/script.js' %}"></script>
</body>
</html>
