{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Incomes List</title>
    <link rel="stylesheet" href="{% static 'tracker/css/style.css' %}" type="text/css">
</head>
<body>
    <h1>Incomes</h1>
    <a href="{% url 'add_income' %}" class= "list-action-button"> New Income</a>
    <ul>
        {% for income in incomes %}
        <li>
            <span>{{ income.description }}</span> - 
            <span>{{ income.amount }}</span> - 
            <span>{{ income.date }}</span>
            <div class="list-action-buttons">
                <a href="{% url 'edit_income' income.id %}" class="list-action-button">Edit</a>
                <a href="{% url 'delete_income' income.id %}" class="list-action-button">Delete</a>
                {% if income.is_recurring %}
                <a href="{% url 'record_recurring_income_change' income.id %}" class="list-action-button"> Update amount</a>
                {% endif %}
            </div>
        </li>
        {% empty %}
            <li>No incomes found.</li>
        {% endfor %}
    </ul>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <a href="{% url 'home' %}">Return Home</a>
</body>
</html>
