{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Incomes List</title>
    <link rel="stylesheet" href="{% static 'tracker/css/style.css' %}" type="text/css">
</head>
<body>
    <h1>Incomes</h1>
    <ul>
        {% for income in incomes %}
        <li>
            {{ income.date }}: {{ income.description }} - ${{ income.amount }}
            <a href="{% url 'edit_income' income.id %}" class="list-action-button">Edit</a>
            <a href="{% url 'delete_income' income.id %}" class="list-action-button">Delete</a>
        </li>
        {% empty %}
            <li>No incomes found.</li>
        {% endfor %}
    </ul>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <a href="{% url 'home' %}">Return Home</a>

    <script src="{% static 'tracker/js/script.js' %}"></script>
</body>
</html>
