{% extends "base.html" %}
{% block content %}
    <h1>Incomes</h1>
    <a href="{% url 'add_income' %}" class= "list-action-button"> New Income</a>
    <ul>
        {% for incomes_with_recent_amount in incomes %}
        <li>
            <span>{{ incomes_with_recent_amount.description }}</span> - 
            <span>{{ incomes_with_recent_amount.amount }}</span> - 
            <span>{{ incomes_with_recent_amount.date }}</span>
            <div class="list-action-buttons">
                <a href="{% url 'edit_income' incomes_with_recent_amount.id %}" class="list-action-button">Edit</a>
                <a href="{% url 'delete_income' incomes_with_recent_amount.id %}" class="list-action-button">Delete</a>
                {% if incomes_with_recent_amount.is_recurring %}
                <a href="{% url 'record_recurring_income_change' incomes_with_recent_amount.id %}" class="list-action-button"> Update amount</a>
                {% endif %}
            </div>
        </li>
        {% empty %}
            <li>No incomes found.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Return Home</a>
{% endblock %}
