/* Dialogs.css */

/* Dialogs */
.MuiDialog-paper {
    background-color: #1976d2 !important; /* Blue background for dialogs */
    color: #ffffff !important; /* White text for dialogs */
  }
  
  .MuiDialogTitle-root {
    color: #ffffff !important; /* White text for dialog title */
  }
  
  .MuiDialogContentText-root {
    color: #ffffff !important; /* White text for dialog content */
  }
  
  .MuiDialogActions-root .MuiButton-root {
    color: #ffffff !important; /* White color for dialog buttons */
  }
  
  .MuiDialogActions-root .MuiButton-root:hover {
    background-color: rgba(25, 118, 210, 0.15) !important; /* Light blue hover background */
  }
  
  .MuiButton-containedSecondary {
    color: #ffffff !important; /* White text for secondary button */
    background-color: #1565c0 !important; /* Blue background for secondary button */
  }
  
  .MuiButton-containedSecondary:hover {
    background-color: #0d47a1 !important; /* Darker blue on hover */
  }
  