/* Income list styles */
.MuiTableHead-root .MuiTableCell-root {
    color: #ffffff !important; /* White text for table headers */
    border-bottom: none; /* Remove bottom border from table headers */
}

.MuiTableBody-root .MuiTableCell-root {
    color: #ffffff; /* White text for table cells */
    border-bottom: none; /* Remove bottom border from table cells */
}

.income-list .MuiTableCell-root {
    background-color: #0d47a1; /* Dark blue background for table cells */
}

.income-list .MuiTableCell-root input {
    color: #ffffff; /* Ensure input text is white */
    background-color: transparent; /* Transparent background for input */
}

.income-list .MuiIconButton-root {
    color: #ffffff; /* White icons */
}

/* Confirm action dialog styles */
.confirm-dialog .MuiPaper-root {
    background-color: #1976d2; /* Light blue background */
    color: #ffffff; /* White text */
}

.confirm-dialog .MuiDialogTitle-root {
    color: #ffffff; /* White text for the dialog title */
}

.confirm-dialog .MuiDialogContent-root {
    color: #ffffff; /* White text for the dialog content */
}

.confirm-dialog .MuiTypography-root {
    color: #ffffff; /* White text for the confirmation message */
}

.confirm-dialog .MuiButton-root {
    color: #ffffff; /* White text for buttons */
    border-color: #ffffff; /* White border for buttons */
}

.confirm-dialog .MuiButton-containedPrimary {
    background-color: #ffffff; /* White background for contained primary button */
    color: #1976d2; /* Text color for contained primary button */
}
